In [11]:
import pandas as pd

In [13]:
df = pd.read_csv(r'C:\Users\carlo\walmart-sales\Walmart_Sales.csv')
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
display(df)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,2012-10-05,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,2012-10-12,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667

In [3]:
df["year"] = df["Date"].dt.year
df["month"] = df["Date"].dt.to_period("M")
df["week"] = df["Date"].dt.to_period("W")

general_metrics = df.groupby("Store").agg(
    weekly_avg_sales=("Weekly_Sales", "mean"),
    monthly_total_sales=("Weekly_Sales", "sum"),
    yearly_total_sales=("Weekly_Sales", "sum")
).reset_index()
general_metrics["weekly_avg_sales"] = general_metrics["weekly_avg_sales"].round(2)
display(general_metrics)

    Store  weekly_avg_sales  monthly_total_sales  yearly_total_sales
0       1        1555264.40         2.224028e+08        2.224028e+08
1       2        1925751.34         2.753824e+08        2.753824e+08
2       3         402704.44         5.758674e+07        5.758674e+07
3       4        2094712.96         2.995440e+08        2.995440e+08
4       5         318011.81         4.547569e+07        4.547569e+07
5       6        1564728.19         2.237561e+08        2.237561e+08
6       7         570617.31         8.159828e+07        8.159828e+07
7       8         908749.52         1.299512e+08        1.299512e+08
8       9         543980.55         7.778922e+07        7.778922e+07
9      10        1899424.57         2.716177e+08        2.716177e+08
10     11        1356383.12         1.939628e+08        1.939628e+08
11     12        1009001.61         1.442872e+08        1.442872e+08
12     13        2003620.31         2.865177e+08        2.865177e+08
13     14        2020978.40         2.889999e+08        2.889999e+08
14     15         623312.47         8.913368e+07        8.913368e+07
15     16         519247.73         7.425243e+07        7.425243e+07
16     17         893581.39         1.277821e+08        1.277821e+08
17     18        1084718.42         1.551147e+08        1.551147e+08
18     19        1444999.04         2.066349e+08        2.066349e+08
19     20        2107676.87         3.013978e+08        3.013978e+08
20     21         756069.08         1.081179e+08        1.081179e+08
21     22        1028501.04         1.470756e+08        1.470756e+08
22     23        1389864.46         1.987506e+08        1.987506e+08
23     24        1356755.39         1.940160e+08        1.940160e+08
24     25         706721.53         1.010612e+08        1.010612e+08
25     26        1002911.84         1.434164e+08        1.434164e+08
26     27        1775216.20         2.538559e+08        2.538559e+08
27     28        1323522.24         1.892637e+08        1.892637e+08
28     29         539451.43         7.714155e+07        7.714155e+07
29     30         438579.62         6.271689e+07        6.271689e+07
30     31        1395901.44         1.996139e+08        1.996139e+08
31     32        1166568.15         1.668192e+08        1.668192e+08
32     33         259861.69         3.716022e+07        3.716022e+07
33     34         966781.56         1.382498e+08        1.382498e+08
34     35         919724.98         1.315207e+08        1.315207e+08
35     36         373511.99         5.341221e+07        5.341221e+07
36     37         518900.28         7.420274e+07        7.420274e+07
37     38         385731.65         5.515963e+07        5.515963e+07
38     39        1450668.13         2.074455e+08        2.074455e+08
39     40         964128.04         1.378703e+08        1.378703e+08
40     41        1268125.42         1.813419e+08        1.813419e+08
41     42         556403.86         7.956575e+07        7.956575e+07
42     43         633324.72         9.056544e+07        9.056544e+07
43     44         302748.87         4.329309e+07        4.329309e+07
44     45         785981.41         1.123953e+08        1.123953e+08

In [4]:
df2 = df.groupby("week").agg(
    weekly_sales=("Weekly_Sales", "sum")
).reset_index()
display(df2)

                      week  weekly_sales
0    2010-02-01/2010-02-07   49750740.50
1    2010-02-08/2010-02-14   48336677.63
2    2010-02-15/2010-02-21   48276993.78
3    2010-02-22/2010-02-28   43968571.13
4    2010-03-01/2010-03-07   46871470.30
..                     ...           ...
138  2012-09-24/2012-09-30   43734899.40
139  2012-10-01/2012-10-07   47566639.31
140  2012-10-08/2012-10-14   46128514.25
141  2012-10-15/2012-10-21   45122410.57
142  2012-10-22/2012-10-28   45544116.29

[143 rows x 2 columns]

In [5]:
df3 = df.groupby("month").agg(
    monthly_sales=("Weekly_Sales", "sum")
).reset_index()
display(df3)

      month  monthly_sales
0   2010-02   1.903330e+08
1   2010-03   1.819198e+08
2   2010-04   2.314124e+08
3   2010-05   1.867109e+08
4   2010-06   1.922462e+08
5   2010-07   2.325801e+08
6   2010-08   1.876401e+08
7   2010-09   1.772679e+08
8   2010-10   2.171618e+08
9   2010-11   2.028534e+08
10  2010-12   2.887605e+08
11  2011-01   1.637040e+08
12  2011-02   1.863313e+08
13  2011-03   1.793564e+08
14  2011-04   2.265265e+08
15  2011-05   1.816482e+08
16  2011-06   1.897734e+08
17  2011-07   2.299114e+08
18  2011-08   1.885993e+08
19  2011-09   2.208477e+08
20  2011-10   1.832613e+08
21  2011-11   2.101624e+08
22  2011-12   2.880781e+08
23  2012-01   1.688945e+08
24  2012-02   1.920636e+08
25  2012-03   2.315097e+08
26  2012-04   1.889209e+08
27  2012-05   1.887665e+08
28  2012-06   2.406103e+08
29  2012-07   1.875095e+08
30  2012-08   2.368508e+08
31  2012-09   1.806455e+08
32  2012-10   1.843617e+08

In [6]:
df4 = df.groupby("year").agg(
    yearly_sales=("Weekly_Sales", "sum")
).reset_index()
display(df4)

   year  yearly_sales
0  2010  2.288886e+09
1  2011  2.448200e+09
2  2012  2.000133e+09

In [7]:
# df["monthly_sales"] = df.groupby(["Store","month"])["Weekly_Sales"].transform("sum")
# df["yearly_sales"]  = df.groupby(["Store","year"])["Weekly_Sales"].transform("sum")
# display(df)